{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">All Posts</h2>

<div class="row">
{% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

            {% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
{% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|truncatewords:20 }}</p>

                <a href="{% url 'post_detail' post.id %}" class="btn btn-primary btn-sm">Read More</a>

                {% if user == post.author %}
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% empty %}
    <p>No posts available</p>
{% endfor %}
</div>

{% endblock %}